/*@media (max-width: 1200px) {
  .container {
    max-width: 960;
  }
  .promo {
    &__head
  }
}
*/

html {
  /* To make use of full height of page*/
  min-height: 100%;
}

body {

    background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.829),
    rgba(240, 240, 240, 0.178)), url(pictures/pic_1.jpg) center top;
    background-size: cover;
    /*
    background-repeat: no-repeat;
    margin: 0;
    */
}

#title_containter {
  color:whitesmoke;
  background-color: transparent;
  text-align: center;
  font-family: 'Gill Sans MT';
  font-size: 5vw;
  height: 7vw;
}

#content_container {
  color: black;
  text-align: left;
  font-family: 'Gill Sans MT';
  font-size: 3vw;
}

#project_list {
  color: rgba(255, 255, 255, 0.7);
  list-style: upper-roman;
  /*list-style-image: url(pictures/list_arrow_32_32.png);*/
  list-style-position: inside;
  padding: 30px;
}

.project_sublist {
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
}

.list_item {
  padding-top: 30px;
}

 /* unvisited link */
a:link {
  color: rgba(255, 255, 255, 0.7);
  margin-inline-end: 5vw;
}

/* visited link */
a:visited {
  color: rgba(255, 255, 255, 0.7);
}

/* mouse over link */
a:hover {
  color:mediumblue;
}

/* selected link */
/*
a:active {
  color: grey;
} 
*/

